.reveal section {
	/* Change default font */
	font-family: Source Code Pro, Consolas, monospace;
}

.reveal section h1 {
	font-size: 1.2em;
	/* Prevent titles from appearing in all caps. */
	text-transform: none;
}

.reveal section h2, section p, section li, section th, section blockquote {
	font-size: 0.8em;
}

.reveal section h3, section tr {
	font-size: 0.5em;
}

/* change color for functions in code chunks */
.reveal code span.fu { 
	color: Aqua;
}
